@model Product

<li>
    <div class="wrap">
        <div class="bg-l">&nbsp;</div>
        <div class="bg-r">&nbsp;</div>
        <div class="bg-line">&nbsp;</div>
        <div class="box">
            <div class="visual">
                <a asp-action="Product" asp-controller="Product" asp-route-id="@Model.ProductID">
                    @Html.Partial("Image.cshtml", @Model.Images)
                </a>
            </div> 
            <div class="name">
                <a asp-action="Product" asp-controller="Product" asp-route-id="@Model.ProductID">
                @Model.Name
                </a>
            </div>
            <div class="price">
                <div class="bg">&nbsp;</div>
                <table>
                    <tr>
                        <td>
                            <div>@Model.Price.ToString()$</div>
                            <br />
                        </td>
                        <td>
                            <div class="btnCart">
                                <form id="@Model.ProductID" asp-action="AddToCart"
                                      asp-controller="Cart" method="post">
                                    <input type="hidden" asp-for="ProductID" />
                                    <input type="hidden" name="returnUrl"
                                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                    <button type="submit" id="btnAddCart"
                                            class="btn btn-success btn-sm pull-right" style="float:right">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
     </div>
</li>


