@model Product

<li>
    <div class="wrap">
        <div class="bg-l">&nbsp;</div>
        <div class="bg-r">&nbsp;</div>
        <div class="bg-line">&nbsp;</div>
        <div class="box">
            <div class="visual">
                <a asp-action="Product" asp-controller="Product" asp-route-id="@Model.ProductID">
                    @Html.Partial("Image.cshtml", @Model.Images)
                </a>
            </div> 
            <div class="name">
                <a asp-action="Product" asp-controller="Product" asp-route-id="@Model.ProductID">
                @Model.Name
                </a>
            </div>
            <div class="price container text-center">
                <div class="bg">&nbsp;</div>
                <div>@Model.Price.ToString()$</div>
            </div>
        </div>
     </div>
</li>


