@model Product
@{
    ViewData["Title"] = "@model";
}

 <div class="item-box">
     <div class="info">
         <div class="breadcrumbs">
                @*<ul>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                    <a itemprop="url" href="https://flowers.ua/ru/kiev"><span itemprop="title">Доставка цветов в Киев</span></a>
                </li>

                <li>&nbsp;&gt;&nbsp;</li>
                <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
                    <a itemprop="url" href="https://flowers.ua/ru/cvety_v_korobke"><span itemprop="title">Цветы в коробке</span></a>
                </li>

                <li>&nbsp;&gt;&nbsp;</li>
                <li>
                    Цветы в коробке &quot;151 розовая роза&quot;
                </li>

            </ul>*@
            </div>
         <h1 itemprop="name">@Model.Name</h1>
         <div class="container2">
                <div class="visual-block">
                    <div class="visual image large">
                        <div class="bg-line">&nbsp;</div>
                        @Html.Partial("Image.cshtml", @Model)
                    </div>
                    <div class="visual video large" style="display: block;">
                        <div class="bg-line">&nbsp;</div>
                        <div class="videowrap"></div>
                        <div class="zoomwrap" style="display:block;">
                        </div>
                    </div>
                    <div class="extimgs">
                        <ul class="list">
                            <li id="img_">
                                <img src="" alt="" title="" />
                            </li>
                            <li id="img_0">
                                <img src="" alt="" title="" />
                            </li>
                            <li id="img_1">
                                <img src="" alt="" title="" />
                            </li>
                        </ul>
                    </div>
                    <div id="___plusone_0"></div>
                </div>
                <div class="holder">
                    <form class="order-form" id="@Model.ProductID" asp-action="AddToCart"
                          asp-controller="Cart" method="post">
                        <fieldset>
                            <input type="hidden" asp-for="ProductID" />
                            <input type="hidden" name="returnUrl"
                                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <input type="hidden" name="item_variant" id="variant" value="0" />
                            <input type="hidden" id="tab" name="tab" value="1" />
                            <div class="row">
                                <ul class="tab">
                                    <li class="active">
                                        <a id="tab1" href="#" onclick="return changeTab(this);">
                                            <span>
                                                <em>
                                                    Price
                                                </em>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <ul id="blocktab1" class="choice" style="display: table;">
                                    <li></li>
                                    <li>
                                        <strong>@Model.Price$</strong>
                                    </li>
                                </ul>
                            </div>
                            <div style="width:260px;">
                                <button class="button" style="float: left;">
                                    Add to Cart
                                </button>
                                <i class="clear"></i>
                            </div>
                            <div class="note">
                                <div id="promoNote" style="display:none;font-weight:bold;color:#FF0000;margin:5px 0;"></div>
                                <span id="regiondeliveryinfo">
                                    Доставка
                                    &nbsp;&#151;&nbsp;
                                    <strong>бесплатно</strong>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                    <div class="description">
                        <div itemprop="description" id="itemDescr">
                            <b>Descriptoins:</b><br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor.Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit ..."
                            <div>
                                <br>
                            </div>
                        </div>
                        <div>
                            <p>
                                Ближайшее время доставки сегодня с 18:00, при оплате заказа до 18:00.
                            </p>
                            <i style="clear:both;"></i>
                        </div>
                    </div>
                </div>
                <br style="clear:both;">
            </div>
         <div style="border-top:1px solid #E6E6E5; width:100%;">
                <div>
                    <a name="reviews" style="text-indent:-9999;">&nbsp;</a>
                    <p class="div-head" style="float:left;">Отзывы</p>
                    <div style="margin-left:10px;height:29px;line-height:32px;font-size:16px;font-weight:bold;width:100px;float:left;">(0)</div>
                    <div style="width:400px;float:right;">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="feedback withoutbg"> 
                    Для этого товара еще никто не оставлял отзывов
                </div>

                <a name="addNode"></a>
                <div class="main-order-form">
                    <div class="button">
                        <div class="tr">&nbsp;</div>
                        <div class="tl">&nbsp;</div>
                        <div class="br">&nbsp;</div>
                        <div class="bl">&nbsp;</div>
                        <a class="contents altcontents jsAddReviewBtn" href="#"><span class="no-arrow">Добавить отзыв</span></a>
                    </div>
                </div>
         </div>
        <div class="set-proposals"></div>            
     </div>
 </div>