@model Product
@{
    ViewData["Title"] = "@model";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 80; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }


    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

</style>



<div class="item-box">
    <div class="info">
        <div class="breadcrumbs">
         </div>
        <h1 itemprop="name">@Model.Name</h1>
        <div class="container2">
            <div class="visual-block">
                <div class="visual image large">
                    <div class="bg-line">&nbsp;</div>

                        @Html.Partial("Image.cshtml", @Model.Images)

                </div>
                <div class="visual video large">
                    <div class="bg-line">&nbsp;</div>
                    <div class="videowrap"></div>
                    <div class="zoomwrap">
                    </div>
                </div>
                <div class="extimgs">
                    <ul class="list">
                        @foreach (var image in Model.Images)
                        {
                            <li>
                                <img class="sm_img" src="@Url.Content("/Files/Sm/" + image.Name)" alt="@image.Name" title="@image.Name" />
                            </li>
                        }
                    </ul>
                </div>
                <div id="___plusone_0"></div>
            </div>
            <div class="holder">
                <form class="order-form" id="@Model.ProductID" asp-action="AddToCart"
                      asp-controller="Cart" method="post">
                    <fieldset>
                        <input type="hidden" asp-for="ProductID" />
                        <input type="hidden" name="returnUrl"
                               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <input type="hidden" name="item_variant" id="variant" value="0" />
                        <input type="hidden" id="tab" name="tab" value="1" />
                        <div class="row">
                            <ul class="tab">
                                <li class="active">
                                    <a id="tab1">
                                        <span>
                                            <em>
                                                Price
                                            </em>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <ul id="blocktab1" class="choice">
                                <li></li>
                                <li>
                                    <strong>@Model.Price$</strong>
                                </li>
                            </ul>
                        </div>
                        @*<div id="AddCart">
                            <button class="button">
                                Add to Cart
                            </button>
                            <i class="clear"></i>
                        </div>*@
                    </fieldset>
                </form>
                <div class="description">
                    <div itemprop="description" id="itemDescr">
                        <b>Descriptoins:</b><br>@Model.Description
                        <div>
                            <br>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br style="clear:both;">
        </div>
        <div class="set-proposals"></div> 
        <!-- The Modal -->
        
    </div>
 
    
</div>

<div id="myModal" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img01">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('#img_Bg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>