@model AdminProductViewModel

@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}


<style>
    [class*="col-"] {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
    }

    .upload-button {
        
        text-align: center;
        position: relative;
        
    }

        .upload-button .label {
            pointer-events: none;
            position: absolute;
            
        }

    .upload-button input {
        opacity: 0;
        cursor: pointer;
        
    }
</style>

<div class="container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Product.ProductID" />
        <div class="form-group row">
            <label asp-for="@Model.Product.Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div> <span asp-validation-for="@Model.Product.Name" class="text-danger"></span></div>
                <input asp-for="@Model.Product.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Product.Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div> <span asp-validation-for="@Model.Product.Description" class="text-danger"></span></div>
                <textarea asp-for="@Model.Product.Description" rows="5" class="form-control vresize"> </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Product.Category"></label>
            <select asp-for="@Model.Product.Category" asp-items="@(new SelectList(Model.Categories, Model.Product.Category, "Enter Category"))"></select>
           <div class="col-sm-10">
                <div> <span asp-validation-for="@Model.Product.Category" class="text-danger"></span></div>
                <input asp-for="@Model.Product.Category" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Product.Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                <input asp-for="@Model.Product.Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 ml-auto">
                <button class="btn btn-primary" type="submit">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (FileModel image in @Model.Product.Images)
        {
            <div class="col-md-3">
                <div class="thumbnail container text-center">
                    <div>
                        <a href="@Url.Content("/Files/Bg/" + image.Name)">
                            <img class="imageAdmin" src="@Url.Content("/Files/Sm/" + image.Name)" alt="@image.Name" title="@image.Name">
                        </a>
                    </div>
                    <div>
                        <a asp-action="RemoveImage" class="btn btn-sm btn-warning"
                           asp-route-productId="@Model.Product.ProductID" asp-route-imageName="@image.Name">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-3 align-self-center">
            
                <form id="form" asp-action="AddImage" asp-route-productId="@Model.Product.ProductID" method="post" enctype="multipart/form-data">
                    <div class="upload-button">
                        <a onclick="document.getElementById('file-input').click();" class="btn btn-sm btn-info">Add</a>
                        <input id="file-input" type="file" name="uploadedFile" onchange="submitForm('form');"/>
                    </div>
                </form>
            
        </div>
    </div>
</div>






    <div>
        <a asp-action="Index">Back to List</a>
    </div>

<script>
    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
</script>
